# Maven
target/
target/classes/
target/test-classes/

# Eclipse
.project
.classpath
.settings/
.metadata/

# IntelliJ
.idea/workspace.xml
.idea/tasks.xml
.idea/encoding.xml
.idea/jarRepositories.xml

# OS
.DS_Store
Thumbs.db

# Other services (relative paths)
../flyway-service/.DS_Store
../user-service/.DS_Store
../product-service/.gitkeep
