# Maven
target/
**/target/

# Eclipse  
.project
**/project
.classpath
.settings/
.metadata/

# IntelliJ
.idea/
**/.idea/

# OS Files (सभी subdirectories में)
.DS_Store
**/.DS_Store
._.DS_Store
**/.._.DS_Store
Thumbs.db

# Empty files
.gitkeep
